/* !variables */
:root {
  --main-background: linear-gradient(to right, #f53192, #ffb33d);
  --secound-Color: #f53192;
  --main-box-shadow: 0 5px 60px rgba(255, 26, 26, 0.22);
}
/* !Generale style   */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: sans-serif, serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/* ! media */
/*Small Screen*/

@media (min-width: 760px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End */
/* ? hEADER */
nav {
  position: absolute;
  z-index: 1;
  width: 100%;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
}

nav .container img {
  width: 120px;
}

nav .container ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active {
  position: relative;
  padding-bottom: 10px;
}
nav .container ul li a {
  color: chocolate;
  font-size: 20px;
  font-weight: 900;
  font-family: cursive;
}
nav .container ul .active::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--main-background);

  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.active::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background: var(--main-background);
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  transition: 0.5s ease;
}
.active:hover::after {
  width: 100%;
}
@media (max-width: 760px) {
  .active {
    visibility: hidden;
  }
}

/* ?landing */
.landing {
  padding: 0;
  margin: 0;
  position: relative;
   background:midnightblue;
  height: 100vh;
  background-size: cover;
}
.landing .box-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 61%);
  filter: drop-shadow(2px 4px 6px black);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ! Social Links */
.social-links {
  position: relative;
}
.landing .box-container .social-links ul li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 5;
  margin-bottom: 20px;
  transform: translateX(20px);
  transition: 0.8s ease;
}
.social-links ul li img {
  width: 50px;
}
.social-links ul li:hover {
  left: 15px;

  transition: all 0.6s ease;
}
.circle-slid {
  position: absolute;
  left: 10px;
  margin-bottom: 30px;
  color: #120e0e;
  z-index: 3;
  top: -160px;
  visibility: hidden;
}
.circle-slid:hover{
  color:turquoise;
  transform:scale(1.5);
  cursor: pointer;
}
@media (max-width: 560px) {
  .social-links ul {
    position: absolute;
    left: -300px;
    top: -120px;
    z-index: 3;
    transition: 0.8s ease;
  }
  .circle-slid {
    visibility: visible;
  }
  .social-links ul li img {
    width: 35px;
  }
}

/* !play list */
.landing .box-container .play-music {
  background: var(--main-background);
  width: 350px;
  padding: 25px 35px;
  text-align: center;
  position: relative;
  height: 550px;
}
.landing .play-music .headphone {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: -30px;
  width: 155px;
}
.landing .box-container .play-music .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.nav-bar span {
  color: black;
  font-family: cursive;
}

.play-music .song-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #eee;
  box-shadow: var(--main-box-shadow);
}
.play-music h1 {
  font-size: 20px;
  font-weight: 900;
}
.play-music p {
  color: #535353;
  font-weight: 400;
}
/* !rang */
#prog-main {
  width: 100%;
  cursor: pointer;
  background-color: #817c7c2e;
  height: 6px;
  border-radius: 10px;
  margin-bottom: 5px;
}
#progress-bar {
  /* -webkit-appearance: none; */
  position: relative;
  width: 0%;
  height: 6px;
  cursor: pointer;
  background: var(--main-background);
  border-radius: 5px;
  margin: 40px 0 15px;
}
#progress-bar::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 0;
  bottom: -5px;
  background-color: #ffb33d;
  border: 1px solid #eaa438;

  opacity: 0;
  box-shadow: 0px 0 2px 0px rgb(245 55 142);
}

#prog-main:hover #progress-bar::after {
  opacity: 1;
}

/* ! control */
.play-music .controls {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  position: relative;
}
.play-music .controls div {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--secound-Color);
  box-shadow: var(--main-box-shadow);
  margin-bottom: 5px;
  border: 2px solid #f53192;
}
.play-music .controls .play {
  background: var(--secound-Color);
  color: #fff;
  border: 2px solid white;

  transform: scale(1.5);
}
/* !timer */
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
/* ! play list */
.music-list {
  position: absolute;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgb(87 76 76 / 95%);
  left: 0;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5 ease-out;
  z-index: 6;
}
/* ! Show play list */
/*? js */
.music-list.show {
  bottom: 0px;
  opacity: 1;
  pointer-events: auto;
}
/*? end */
.music-list .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bdc5c5;
  height: 50px;
  padding: 0 10px;
}
.head div {
  display: flex;
  align-items: center;
}
.music-list .head span:nth-child(2) {
  margin-left: 10px;
  font-weight: 600;
}
.music-list ul {
  text-align: left;
  padding: 10px;
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
}
.music-list ul::-webkit-scrollbar {
  width: 0;
}
.music-list ul li {
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
  border-bottom: 2px solid #d9cfcf;
  align-items: center;
}
.music-list ul li:last-child {
  border: none;
}
.music-list ul li div {
  color: black;
  font-weight: 400;
  flex: 1;
}
.close {
  cursor: pointer;
  color: red;
  background-color: aliceblue;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgb(87 76 76 / 95%);
}

ul li.playing {
  color: violet;
  pointer-events: none;
}
/*!.............End............... */
